<div class="container">
    <h1 class="text-center mt-5">Vote Registered!</h1>	

    <div class="mt-5 align-middle">
        <!-- <div class="jumbotron"> -->
          <div class="row">
            <div class="col-3"></div>
              <div class="col-6">
                  <div class="form-login">
                    <h3 class="font-weight-bold text-center">Reference Number: {{transaction_id}}</h3>
                    <p class="text-center">Use the Referenece Number to verify your vote on <a href="#">www.verifyVote.com</a></p>
                    <div class="wrapper">
                      <span class="group-btn">     
                          <a href="#" class="btn btn-primary btn-lg" (click)="clicker()" routerLink="../login">
                            Done
                          </a>
                      </span>
                    </div>
                  </div>
              </div>
              <div class="col-3"></div>
          </div>
      <!-- </div> -->
    </div>
</div>
